!!!

%html(lang="#{t('lang-dash')}")

  %head
    %meta(charset='utf-8')
    %meta(name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0')

    / Favicons
    %link(rel='mask-icon' href='favicon.svg' color='#4a90e2')
    %link(rel='apple-touch-icon' href='apple-touch-icon-precomposed.png')
    %link(rel='icon' href='favicon.png')

    / Facebook
    %meta(property='og:url' content='http://www.vua.sh')
    %meta(property='og:type' content='website')
    %meta(property='og:image' content='http://www.vua.sh/fb-icon.png')
    %meta(property='og:description' content="#{t('slogan')}")
    %meta(property='og:site_name' content='Vuash')
    %meta(property='og:title' content='Vuash')
    %meta(property='og:locale' content="#{t('lang-underscore')}")
    %meta(property="fb:app_id" content='1058681947542613')

    // Android
    %meta(name='theme-color' content='#4a90e2')

    / Google Analytics
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-65316487-1', 'auto');
      ga('send', 'pageview');

    %title Vuash - #{t('slogan')}
    %meta(name='description' content="#{t('slogan')}")

    = stylesheet_link_tag 'application', 'data-turbolinks-track' => true, 'media' => 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %div.site-wrap

      %header.site-header(role='banner')
        = link_to messages_path, class: 'logo-vuash' do
          %svg(height='30px' viewBox='0 0 106 97')
            %title= t('logo-title')
            %path(id='vuash-mark' fill='#4a90e2' d='M2.99760217e-15,3.99306484 C2.77555756e-15,0.687680951 2.43876573,-0.874545286 5.44713571,0.51377346 L102.89866,43.4862265 C105.905166,44.873685 105.90703,51.1254547 102.89866,52.5137735 L5.44713571,95.4862265 C2.44062987,96.873685 9.88098492e-15,95.3168135 9.65894032e-15,92.0069352 L7.23556427e-15,61.818444 C7.10237572e-15,60.1592869 1.3243002,58.565268 2.94293644,58.2609181 L39.802494,51.3302669 C44,50.9999999 44,44.9999999 39.802494,44.6704158 L2.94293644,37.7397646 C1.31759752,37.4341544 1.21222207e-16,35.8440787 2.71304116e-16,34.1821769 L2.99760217e-15,3.99306484 Z')
          Vuash
        %p.slogan= t('slogan')

      %main.site-body(role='main')= yield

      %footer.site-footer(role='complementary')
        %ul.features

          %li
            %h2= t('footer.features.safety.title')
            %p
              = t('footer.features.safety.text')
              -# TODO: Link to article/wiki about security
                %br
                %a(href="#{t('footer.features.safety.link-href')}" target='_blank')= t('footer.features.safety.link-text_html')

          %li
            %h2= t('footer.features.open-source.title')
            %p
              = t('footer.features.open-source.text')
              %br
              %a(href="#{t('footer.features.open-source.link-href')}" target='_blank')= t('footer.features.open-source.link-text_html')

          %li
            %h2= t('footer.features.donations.title')
            %p
              = t('footer.features.donations.text')
              %br
              %a(href="#{t('footer.features.donations.link-href')}" target='_blank')= t('footer.features.donations.link-text_html')
